@import "../../variable.scss";

.newTaskForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include baseProperties;
  label {
    font-size: $fontSizeTitle;
    font-weight: 100;
  }
  input {
    width: 50vw;
    height: 3rem;
    background: $inputColor;
    border-radius: 10px;
    color: $fontColor;
    font-size: 1.5rem;
    margin-top: 1vh;
    padding-left: 0.5rem;
    &::placeholder {
      color: $fontColor;
    }
  }
  p {
    font-size: 1rem;
    margin: 1rem 0 0 1rem;
  }
  button {
    @include Button;
    margin-top: 1vh;
  }
}

@media screen and (min-width: 800px) {
  .newTaskForm {
    label {
      font-size: $fontSizeTitleDesktop;
    }
    p {
      font-size: 1.2rem;
      margin: 0.5rem 0 0 1.5rem;
    }
    button {
      font-size: $fontSizeButtonDesktop;
      margin-top: 5vh;
    }
  }
}
