@import "../../variable.scss";

.tasksList {
  margin-top: 2vh;
  font-size: $fontSizeTasks;
  @include baseProperties;
  h2 {
    margin: 0 0 0 1rem;
    font-size: $fontSizeTitle;
    font-weight: 100;
  }
  ul {
    list-style: none;
    margin: 0 0 0 1.5rem;
    padding: 0;
    li {
      margin: 2vh 0;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      word-break: break-word;
      opacity: 0;
      animation: fadeInAnimation 0.5s ease-in forwards;
      &:hover {
        text-shadow: 0px 0px 1px $fontColor;
        color: $borderColor;
      }
      button {
        @include Button;
        flex-shrink: 0;
        margin-left: 1vw;
        font-size: $fontSizeButton;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .tasksList {
    h2 {
      margin: 0 0 0 2rem;
    }
    ul {
      margin: 0 0 0 3rem;
    }
  }
}

@media screen and (min-width: 800px) {
  .tasksList {
    h2 {
      font-size: $fontSizeTitleDesktop;
      margin: 0 0 0 9rem;
    }
    ul {
      margin: 0 0 0 12rem;
      li {
        font-size: $fontSizeTasksDesktop;
        button {
          font-size: $fontSizeButtonDesktop;
          margin-right: 6vw;
        }
      }
    }
  }
}
