$backgroundColor: #111927;
$fontColor: #c2e6ff;
$inputColor: #2870bd;
$borderSize: 1px solid;
$borderColor: #2870bd;
$paddingSize: 1rem;
$paddingButtonSize: 0.5rem 1rem;
$fontSizeTitle: 1.6rem;
$fontSizeTasks: 1.4rem;
$fontSizeButton: 1rem;
$fontSizeTitleDesktop: 3rem;
$fontSizeTasksDesktop: 2.5rem;
$fontSizeButtonDesktop: 2rem;

@mixin Button {
  font-size: $fontSizeButton;
  background: $inputColor;
  color: $fontColor;
  border: $borderSize $fontColor;
  border-radius: 10px;
  padding: $paddingButtonSize;
  &:disabled {
    background: $backgroundColor;
    color: grey;
    border: $borderSize $borderColor;
  }
  &:not(:disabled) {
    &:hover,
    &:focus {
      background-color: $fontColor;
      border-color: $borderColor;
      color: $borderColor;
    }
  }
}

@mixin baseProperties {
  border: $borderSize $borderColor;
  border-radius: 10px;
  width: 85vw;
  padding: $paddingSize;
  color: $fontColor;
  box-shadow: 0px 0px 10px $borderColor;
  opacity: 0;
  animation: fadeInAnimation 0.1s ease-in forwards;
  &:hover {
    border-color: #c2e6ff;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
